<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>20 AÑOS DE EXPERIENCIA</h4>
                    <div class="line-dec"></div>
                    <p>Desde la primer oficina que abrió sus puertas en el año 2000 en Lima, HOMELINK se ha convertido en una de las inmobiliarias más reconocidas del país.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>MISIÓN</h4>
                    <div class="line-dec"></div>
                    <p>Brindar el mejor servicio a nuestros clientes, cumpliendo con las exigencias del mercado y las de construcción.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>VISIÓN</h4>
                    <div class="line-dec"></div>
                    <p>Ser la empresa referente en el negocio inmobiliario de manera rentable y sostenible, creando una experiencia única en nuestros clientes.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <h4>NUESTRO EQUIPO</h4>
                    <div class="line-dec"></div>
                    <p>Lo componen profesionales, técnicos y administrativos altamente especializados, de amplia experiencia y comprometidos con su trabajo.</p>
                    </div>
            </div>
        </div>
    </div>
    
</section>